
body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Antic Slab', sans-serif; 
}

footer {
  width: 100%;
  height: 6vh;
  background: linear-gradient(35deg, lightblue, white);
  font-size: 3.5vh;
  text-align: center;
}

section {
  padding: 7.5rem 0;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: rgb(64, 184, 240);
}

hr.light {
  border-color: #fff;
}

a {
  color: rgb(27, 60, 206);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

a:hover {
  color: #40c7f0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Antic Slab', sans-serif; 
  color: rgba(7, 7, 7, 0.863);
}

.bg-primary {
  background-color: dodgerblue !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

#about {
  margin: 8% 0 8% 0; 
  background: url(../img/tech1.jpg);
  animation: Animate 15.5s ease-in infinite;
  background-position: center center;
  background-size: cover;
  height: 480px;
  background-attachment: fixed;
  opacity: 0.6;
}

#education {
  margin: 0 0 8% 2%; 
}

#portfolio {
  margin: 0 0 25% 0; 
}

#more {
  margin: 8% 0 8% 0; 
  background: url(../img/tech2.png);
  animation: Animate 25.5s ease-in infinite;
  background-position: center center;
  height: 360px;
  background-attachment: fixed;
  background-size: cover;
}

#workexperience {
  margin: 8% 0 8% 0; 
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}


#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'Antic Slab', sans-serif; 
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: dodgerblue;
  font-family: 'Antic Slab', sans-serif; 
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #40e4f0;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: rgb(64, 170, 240);
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: rgb(64, 170, 240);
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(2, 2, 2, 0.7);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    background: inherit;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgb(0, 0, 0);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: dodgerblue;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: dodgerblue;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: dodgerblue;
  }
}

header.masterhead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 106px);
  background: url('../img/typingHandsX.gif');
  animation: Animate 15 .5s ease-in infinite;
  height: 640px;
  background-position: center left;
  background-attachment: fixed;
  background-size: 2290px;
  opacity: 0.9;
}

header.masterhead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masterhead h1 {
  font-size: 2rem;
  margin-top: 1px;
}

header.masterhead p {
  font-weight: 600;
  font-size: 1.3em;
  margin-top: 4px;
}

@media (max-width: 768px) {

  header.masterhead {
    background: url('../img/devBG.jpeg');
    background-size: cover;
    background-attachment: fixed;
  }
  header.masterhead p {
    font-size: 1.3rem;
    font-weight: 800;
    color: #fff
  }

  header.masterhead h1 {
    font-size: 2.2rem;
    font-weight: 800;
    color: #fff
  }

  body p {
    font-size: -40%;
  }
}

@media (max-width: 992px) {
  header.masterhead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
    background-size: cover;
    background-attachment: fixed;
    font-weight: 600;
  }
  header.masterhead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masterhead h1 {
    font-size: 4rem;
  }
}

.service-box {
  max-width: 400px;
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
  opacity: 0.6;
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: linear-gradient(25deg, dodgerblue, lightblue);
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateX(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
  font-family: 'Antic Slab', sans-serif; 
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 16px;
}

.portfolio-box:hover .portfolio-box-caption {
  background: linear-gradient(35deg, dodgerblue, lightblue);
  opacity: 1;
}

.portfolio-box:focus {
  outline: none;
}

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}

.text-primary {
  color: rgb(15, 9, 8) !important;
}


.btn-xl {
  padding: 1rem 2rem;
  
}

.btn-primary {
  background: #21aef2;
  border-color: #333;
  font-family: 'Antic Slab', sans-serif; 
  text-transform: uppercase;
  -webkit-animation: Animate 1.7s ease infinite;
  -moz-animation: Animate 1.8s ease infinite;
  animation: Animate 1.8s ease infinite;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background: linear-gradient(147deg, #21aef2, #f255219a);
  background-size: 400% 400%;

  
}

.btn-primary:active, .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
  box-shadow: 0 0 0 0.2rem rgba(64, 146, 240, 0.5)!important;
}



@-webkit-keyframes Animate {
    0%{background-position:26% 0%}
    50%{background-position:75% 100%}
    100%{background-position:26% 0%}
}
@-moz-keyframes Animate {
    0%{background-position:26% 0%}
    50%{background-position:75% 100%}
    100%{background-position:26% 0%}
}
@keyframes Animate {
    0%{background-position:26% 0%}
    50%{background-position:75% 100%}
    100%{background-position:26% 0%}
}


.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}



