/* body/html sizing */
body,
html {
  width: 100%;
  height: 100%;
}

/* fonts for body sections */
body {
  font-family: 'Antic Slab', sans-serif; 
}

/* footer properties */
footer {
  width: 100%;
  height: 5.5vh;
  background: linear-gradient(75deg, lightblue, white);
  font-size: 2.8vh;
  text-align: center;
}

/* section properties */
section {
  padding: 7.5rem 0;
}

hr {
  max-width: 100px;
  border-width: 5px;
  border-color: rgb(64, 184, 240);
}

hr.light {
  border-color: #fff;
}

/* anchor tag properties */
a {
  color: rgb(27, 60, 206);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

/* anchor hover properties */
a:hover {
  color: #40c7f0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Antic Slab', sans-serif; 
  color: rgba(7, 7, 7, 0.863);
}

/* background preset properties */
.bg-primary {
  background-color: dodgerblue !important;
}

.bg-dark {
  background-color: #212529 !important;
}

/* text properties */
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

/* about section properties: custom margin and sizing */
#about {
  margin: 8% 0 8% 0; 
  background: url(../img/tech1.jpg);
  animation: Animate 47.5s ease-in-out;
  background-position: center center;
  background-size: 1460px;
  height: 480px;
  background-attachment: fixed;
  opacity: 0.8;
}

/* education section properties: custom margin */

#education {
  margin: 0 0 8% 2%; 
}

/* portfolio section properties: custom margin and sizing */
#portfolio {
  margin: 0 0 25% 0; 
}

/* download section properties: custom margin and sizing */
#download {
  margin: 8% 0 10px 0; 
  background: url(../img/blur1.jpg);
  animation: Animate 40.5s ease-in forwards;
  background-position: center center;
  height: 360px;
  background-attachment: fixed;
  background-size: 1460px;
}

/* work experience section properties: custom margin and sizing */
#workexperience {
  margin: 8% 0 8% 0; 
}

/* section heading properties */
.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

/* navigation and menu properties: sticky */
#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'Tinos', sans-serif; 
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: dodgerblue;
  font-family: 'Cardo', sans-serif; 
}

/* navbar focus properties */
#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #40e4f0;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

/* navbar a hover/focus properties */

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: rgb(64, 170, 240);
}

/* navbar a active/focus properties */
#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: rgb(64, 170, 240);
  background-color: transparent;
}

/* navbar a hover/active properties */
#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}


/* responsive design for media screens: 992px */
@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(2, 2, 2, 0.7);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    background: inherit;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgb(0, 0, 0);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: dodgerblue;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: dodgerblue;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: dodgerblue;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: dodgerblue;
  }
}

header.masterhead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 106px);
  background-attachment: fixed;
}

@media (max-width: 993px) {
  header.masterhead {
    background-color: #40c7f0;
  }
  
  header .masterhead img {
    background-position: center center;
    background-size: 720px;
    opacity: 0.6;
  }

}

header.masterhead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masterhead h1 {
  font-size: 2rem;
  margin-top: 1px;
}

header.masterhead p {
  font-weight: 600;
  font-size: 1em;
  margin-top: 4px;
}

/* responsive design for media screens: 768px */
@media (max-width: 768px) {
  header.masterhead {
    background-color: #40c7f0;
  }
  
  header.masterhead img {
    display: none;
  }

  header.masterhead p {
    font-size: 1.0rem;
    font-weight: 800;
    color: rgb(2, 2, 2)
  }

  header.masterhead h1 {
    font-size: 1.7rem;
    font-weight: 800;
    color: rgb(0, 0, 0)
  }

  body p {
    font-size: -40%;
  }

  #more {
    background: url(../img/techBG2.jpg);
    animation: Animate 50.5s ease-in forwards;
  }

  #about {
    background: url(../img/tech2.png);
    animation: Animate 50.5s ease-in forwards;
    opacity: 0.6;
  }
  
  #education h2 {
    font-size: 2.5rem;
  }

  #education p {
    font-size: 0.8rem;
  }

  #more h2 {
    font-size: 2.5rem;
  }

  #more p {
    font-size: 0.8rem;
  }

  #about h2 {
    font-size: 2.5rem;
  }

  #about p {
    font-size: 0.8rem;
  }

  #services h2 {
    font-size: 2.5rem;
  }

  #services p {
    font-size: 0.8rem;
  }

  #workexperience h2 {
    font-size: 2.5rem;
  }

  #workexperience p {
    font-size: 0.8rem;
  }

  #portfolio h2 {
    font-size: 2.5rem;
  }

  #portfolio p {
    font-size: 0.8rem;
  }
}

/* responsive design for media screens: 992px */
@media (max-width: 992px) {
  header.masterhead img {
    display: none;
  }
  header.masterhead h1 {
    font-size: 3rem;
  }

  header.masterhead p {
    font-size: 1.8rem;
  }
}

/* responsive design for media screens: 1200px */
@media (min-width: 1200px) {
  header.masterhead h1 {
    font-size: 3rem;
  }

  header.masterhead p {
    font-size: 2rem;
  }
}

/* service-box properties */
.service-box {
  max-width: 400px;
}

/* porfolio-box properties */
.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 30px auto;
  opacity: 0.6;
  width: 80%;
  
}

.portfolio-box .portfolio-box-caption {
  position: absolute; 
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: linear-gradient(25deg, dodgerblue, lightblue);
  -webkit-transition: all 1.1s;
  transition: all 1.1s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateX(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
  font-family: 'Antic Slab', sans-serif; 
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
    
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 16px;
}

/* portfolio-box hover properties */
.portfolio-box:hover .portfolio-box-caption {
  background: linear-gradient(35deg, dodgerblue, lightblue);
  opacity: 1;
}

/* portfolio-box focus properties */
.portfolio-box:focus {
  outline: none;
}

/* responsive design for portfolio-box: 768px */

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}

.text-primary {
  color: rgb(15, 9, 8) !important;
}

/* button xl properties */
.btn-xl {
  padding: 1rem 2rem;
  
}

/* button primary properties */
.btn-primary {
  background: #21aef2;
  border-color: #333;
  font-family: 'Antic Slab', sans-serif; 
  text-transform: uppercase;
  -webkit-animation: Animate 5.7s ease infinite;
  -moz-animation: Animate 5.8s ease infinite;
  animation: Animate 5.8s ease infinite;
}

/* button primary hover properties */
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background: linear-gradient(147deg, #21aef2, #f255219a);
  background-size: 400% 400%;

  
}

/* button primary active properties */
.btn-primary:active, .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
  box-shadow: 0 0 0 0.2rem rgba(64, 146, 240, 0.5)!important;
}


/* keyframes for animations */
@-webkit-keyframes Animate {
    0%{background-position:26% 0%}
    50%{background-position:75% 100%}
    100%{background-position:26% 0%}
}
@-moz-keyframes Animate {
    0%{background-position:26% 0%}
    50%{background-position:75% 100%}
    100%{background-position:26% 0%}
}
@keyframes Animate {
    0%{background-position:26% 0%}
    50%{background-position:75% 100%}
    100%{background-position:26% 0%}
}

