// base styles ------------------------

html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  text-align: center;

}
body {
  color: $color-text-base;
  margin: 0 auto;
  font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: linear-gradient(135deg, #f2fcfe 0%, #cff4fb 100%);
  color: transparent;
}


h1 {
  font-size: 24px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: $color-text-dark;
  line-height: $LHeight1;
  margin-bottom: 5%;
  text-align: center;
}

h2 {
  font-size: 21px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: $color-text-dark;
  line-height: $LHeight1;
  text-align: center;
}

h3 {
  font-size: 17px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: $color-text-dark;
  line-height: $LHeight1;
  text-align: center;
}

h4 {
  font-size: 14px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: $color-text-dark;
  line-height: $LHeight1;
  text-align: center;
}


p {
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: $color-text-dark;
  word-spacing: $WSpacing;
  line-height: $LHeight2;
  text-align: center;
}

ul {
  text-align: center;
  & li {
    list-style-type: none;
    list-style-position: inside;
    color: $color-text-dark;
  }
}
