
//responsive design for mobile



@media screen and (max-width: 968px) {
    .socialMedia {
        margin: 0 10% 0 10%;
        
    }

}

@media screen and (max-width: 1010px){
    .box{
      width: 100%;
    }
    .popup{
      width: 100%;
      font-size: 20px;
    }

  }


  @media screen and (max-width: 768px){
    .box{
      width: 100%;
    }
    .popup{
      width: 70%;
      font-size: 16px;
    }

    .about {
        font-size: 16px;
    }
    
  
  }