
// base colors

$darkgrey : darkgrey;

$grey : grey;
$blue : blue;
$red : red;
$white : white;
$black : #000;
$link-hover: green;
$link-active: black;
$link-visited: blue;
$link-clicked: green;
$bodyBG-color : azure;

// text-color properties
$color-text-base : $darkgrey;
$color-text-dark : $black;
$color-text-light : $grey;
$color-text-hover : $link-hover;
$color-text-active : $link-active;
$color-text-visited : $link-visited;
$color-text-clicked : $link-clicked;



// Text properties

$LHeight1 : 1em;
$LHeight2 : 1.5em;
$LSpacing : normal;
$WSpacing : 0.2em;

$line-heightH : $LHeight1;
$line-heightP : $LHeight2;
$word-spacing : $WSpacing;

$body-font-family : 'Antic-Slab', serif;


// functional color variables

$prim-color : $blue;
$sec-color : $red;
